<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="themoviedbAPIKEY" value ="YOUR-API-KEY-HERE"/>
    <!--<add key="moviesPath" value="/media/hdd/Movies/"/>
    <add key="episodesPath" value="/media/hdd/Episodes/"/>-->
    <add key="moviesPath" value="Z:\Movies\"/>
    <add key="episodesPath" value="Z:\Episodes\"/>



    <!-- *************   METADATA DOWNLOAD IMAGES **********-->

    <add key="checkForMetadataEveryXMinutes" value="360" />
    
    <add key="useRaw" value="true" />
    <add key="useBackdrop" value="true" />
    <!-- Because images don't scale yet you need to specify the image size (based on a 1920x1080 screen)
         There values are also used to save the raw files -->
    <add key="coverSize" value="748x1058"/>
    <add key="coverThumbSize" value="172x205"/>
    <add key="backdropSize" value="1920x1080"/>

    <!--****************************************************-->

    <add key="subtitleDownloaderPath" value="/usr/local/bin/subliminal" />
    <add key="subtitleDownloaderParameters" value="-l %lang% -- &quot;%moviefile%&quot;" />
    <add key="subtitleLanguages" value="nl, en" />
    
    <add key="playvideoScript" value="playvideo.sh" />

    <add key="rootDirectory" value="/mnt/player/" />
    
    <add key="reloadPathScript" value="/home/pi/test/mountshares.sh" />

    
    <add key="menuItemBackground" value="192,64,64,64" />
    <add key="menuItemForeground" value="255,255,255,255" />
    <add key="menuItemHighlighted" value="192,40,180,50" />
    

  </appSettings>
</configuration>